$primary-color : #fb5252;
$extra-green-color: #0ad00a;
$heading-primary: #343851;
$normal-color: #757c8c;
$dark-color: #1a2d39;
$extra-dark-color: #172833;
$blue-color: #0075ff;
$yellow-color: #ff9c00;