<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- All Styles -->
    <link rel="stylesheet"href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet"href="~/lib/iconfont/flaticon.css">
    <link rel="stylesheet"href="~/lib/Menuzord/css/menuzord.css">
    <link rel="stylesheet"href="~/lib/slick/slick.css">
    <link rel="stylesheet"href="~/lib/slick/slick-theme.css">
    <link rel="stylesheet"href="~/lib/fancybox/jquery.fancybox.css">
    <link rel="stylesheet"href="~/lib/animate/animate.css">
    <link rel="stylesheet"href="~/lib/aos/aos.css">

    <!-- Theme Styels -->
    <link rel="stylesheet"href="~/css/style.css">
    <link rel="stylesheet"href="~/css/responsive.css">

    <!-- Color Style -->
    <!-- <link rel="stylesheet"href="~/css/light-blue.css">
    <link rel="stylesheet"href="~/css/orange-color.css">
    <link rel="stylesheet"href="~/css/blue-color.css">
    <link rel="stylesheet"href="~/css/green-color.css">
    <link rel="stylesheet"href="~/css/primary-color.css"> -->

    <title>@ViewData["Title"]</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="real estate html template">
    <meta name="keywords" content="real estate, mortgage, your keywords, Behome">
</head>
<body>

    <!-- Back to Top Button -->
    <a id="top-button" href="#"><i class="fas fa-chevron-up"></i></a>
    <!-- End of Back to Top -->
    <!-- Preloader -->
    <div class="preloader-layout">
        <div class="cube-wrapper">
            <div class="cube-folding">
                <span class="leaf1"></span>
                <span class="leaf2"></span>
                <span class="leaf3"></span>
                <span class="leaf4"></span>
            </div>
            <span class="loading" data-name="loading">Loading</span>
        </div>
    </div>

    <header id="header" class="header-layout-nine unveiled-navigation">
        <!-- Header Top -->
        <div class="top-bar primary-bg" id="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 align-self-center">
                        <div class="bar-left">
                            <div class="dropdown pr-3 d-inline-block">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" >
                                    ¿Donde est&acute;a mi trago?
                                </a>
                            </div>
                            <ul class="list-inline d-inline-block">
                                <li class="list-inline-item mr-4">
                                    Fina Cockteleria
                                </li>
                                <li class="list-inline-item">
                                    <i class="far fa-envelope-open mr-1"></i>
                                    hola@dondebebemos.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--
    ========================================
        Search Section
    ========================================
    -->
    <div class="search-layout-three pt-0 search-layout-four">
        <form id="formBuscar">
            <div class="container">
                <div class="row">
                    <div class="short-version">
                        <div class="select">
                            <select name="search-option" id="search-option">
                                <option value="1">Por nombre</option>
                                <option value="2">Por ingrediente</option>
                            </select>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="¿Qué bebida buscas?..." name="q" id="q" required />
                        </div>
                        <div class="submit-form">
                            <input type="submit" value="Buscar" name="submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--
    ========================================
        Feature Section
    ========================================
    -->
    <section id="feature" class="feature-layout-six pa-100 feature-pb">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <!--
    ========================================
        Footer Section
    ========================================
    -->
    <footer class="footer-layout-eight" id="footer">
        
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">Copyright &copy; @DateTime.Now. Proudly powered by <a href="#">dondequedomitrago.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/counterup/waypoints.min.js"></script>
    <script src="~/lib/counterup/jquery.counterup.min.js"></script>
    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/lib/Menuzord/js/menuzord.js"></script>
    <script src="~/lib/isotope/isotope.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/retina/retina.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/behome.js"></script>
    <script src="~/js/slider.js"></script>
    <script src="~/js/RequestResponse.js"></script>
    <script src="~/js/Drinks.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
