@if (Model.bebida != null)
{
    @foreach (var i in Model.bebida)
    {
        <div class="col-md-4 mb-30">
            <div class="feature-item">
                <div class="img">
                    <img src="@i.strDrinkThumb" class="img-fluid">
                    <div class="hover">
                        <div class="button-group">
                            <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content-title">
                    <h4><a href="#">@i.strDrink</a></h4>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-md-12 mb-30">
        <span class="alert alert-warning">Busqueda sin resultados</span>
    </div>
}